<!-- Navigation Bar -->
<!-- ============== -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <header class="header-hidden">
    <h2>Menú de Navegación</h2>
  </header>

  <div class="container-fluid" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div><!--/ navbar-header -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ site.url }}">INICIO</a></li>
        <li><a href="{{ "#abstract" | prepend: site.url }}">INTRODUCCIÓN</a></li>
        <li><a href="{{ "#modality" | prepend: site.url }}">MODALIDAD</a></li>
	<li><a href="{{ "#schedule" | prepend: site.url }}">PROGRAMA</a></li>
	<li><a href="{{ "#organizers" | prepend: site.url }}">ORGANIZADORES</a></li>
        <li><a href="{{ "#opiniones" | prepend: site.url }}">INSCRIPCIÓN</a></li>
      </ul>
    </div><!--/ collapse navbar-collapse -->
  </div><!--/ container-fluid -->
</nav>
